

body{
	color:white;
	background-color: black;
}

.header{
	margin:0px;
}
.navbar{
}

.bigPic{
	position:relative;
	top:-50px;
	width:100%;
}

.bigPicCont{
	height:650px;
	overflow:hidden;
}

.colorThumbs{
	margin-top:30px;
	margin-bottom:50px;
}

.colorThumbs button{
	background-color: black;
	border:0px;
}
.colorThumbs button:focus {
	outline:0;
}
.colorThumbs button:focus img{
	border:5px solid black;
}

li a{
	color:white;
}